.loadEventStage {
  display: flex;
  justify-content: space-around;
  width: 700px;
  margin: 0 auto;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #333;
}

.mouseEventStage {
  width: 300px;
  height: 60px;
  margin: 50px auto 0;
  border: solid 2px #333;
}
.mouseOverEventStage {
  width: 200px;
  height: 200px;
  margin: 50px auto 0;
  background-color: #dd3a21;
}